<section class="parent">
	<section class="container category__wrapper">
		<div class="category__text">
			<div class="text__wrapper">
				<h3>{{settings.heading_text}}</h3>
				<p>{{settings.sub_text}}</p>
			</div>
			<a href="/">{{settings.display_more}}</a>
		</div>
		<div class="imgs__wrapper">
			{% for category in settings.categories %}
				<img src="{{category.category__img}}" alt="">
			{% endfor %}
		</div>
	</section>
</section>

<style>
	.parent {
		margin: 70px 0;
	}
	.parent .category__text {
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
	}
	.parent .category__text h3 {
		color: #750E21;
		font-size: 24px;
		line-height: 28.8px;
		font-weight: 700;
	}
	.parent .category__text p {
		color: #7F585F;
		font-size: 16px;
		line-height: 19.2px;
		font-weight: 500;
	}
	@media(max-width:767px) {
		.parent .category__text p {
			font-size: 14px;
		}
	}
	.parent .category__text a {
		color: #E3651D;
		font-size: 14px;
		line-height: 16.8px;
		font-weight: 500;
	}
	.category__wrapper .imgs__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
		gap: 25px;
		align-items: center;
		justify-content: center;
	}
	.category__wrapper .imgs__wrapper img {
		width: 206px;
		margin-inline: auto;
	}
</style>

{% schema %}
{
  "name": {
    "ar": "الفئات",
    "en": "categories"
  },
  "icon": "fal fa-cabinet-filing",
  "display": true,
  "settings": {
    "categories": {
      "type": "list",
      "noLabel": true,
      "settings_label": {
        "ar": "التصنيف",
        "en": "Picture"
      },
      "settings": {
        "category__title": {
          "type": "text",
          "label": {
            "ar": "العنوان",
            "en": "text"
          }
        },
        "category__img": {
          "type": "image",
          "label": {
            "ar": "صوره",
            "en": "img"
          }
        },
        "category": {
          "type": "category",
          "label": {
            "ar": "اختر التصنيف",
            "en": "Select category"
          }
        }
      }
    },
    "display_more": {
      "type": "text",
      "label": {
        "ar": "اظهار المزيد",
        "en": "show more"
      }
    },
    "heading_text": {
      "type": "text",
      "label": {
        "ar": "العنوان",
        "en": "tittle text"
      }
    },
    "sub_text": {
      "type": "text",
      "label": {
        "ar": "العنوان فرعي",
        "en": "sub text"
      }
    }
  }
}
{% endschema %}
