<div class="account-lang-currency upper-bar header-theme-bg-primary header-theme-text-for-primary-bg">
	<div class="container d-flex justify-content-between">
		<div class="account-area">
			{% if customer %}
				<button type="button" onclick="window.location.href='/account-profile'" class="btn btn-dark account-btn">
					<span class="icon-account_circle_black_24dp header-theme-icon-primary" style="position: relative; top: 1px"></span>
					<span style="position: relative; bottom: 2px">{{ locals.hello }}&nbsp;{{ customer.name }}&nbsp;</span>
				</button>
			{% else %}
				<button type="button" onclick="window.location.href='/auth/login'" class="btn btn-dark account-btn">
					<span class="icon-account_circle_black_24dp header-theme-icon-primary" style="position: relative; top: 1px"></span>
					<span style="position: relative; bottom: 2px">&nbsp;{{ locals.login }}&nbsp;</span>
				</button>
			{% endif %}
		</div>
	</div>
</div>
